ion-app {
    background-color: white;
}

ion-text {
    color: black;
    font-family: 'Times New Roman';
}

.left-align {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}